.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  padding: 0.5rem;
  background: white;
  width: 20vw;
}

.header {
  background: white;
}

.main {
  padding-top: 4rem;
}
